<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="karyawan" class="com.binar.binar.iocdandi.contoh1.domains.Karyawan">
        <property name="country" value="Indonesia" />
        <property name="id" value="1" />
        <property name="name" value="Bambang" />
    </bean>
    <bean id="perusahaan" class="com.binar.binar.iocdandi.contoh1.domains.Perusahaan">
        <constructor-arg ref="karyawan" />
    </bean>

</beans>