<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create a Jenis' : 'Edit a Jenis'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a Jenis:' : 'Edit a Jenis:'" />
<a th:href="@{/v1/view/jenis/list}">Back to Jenis List</a>
<br/><br/>
<form th:action="${add} ? @{/v1/view/jenis/add} : @{/v1/view/jenis/{jenisId}/edit(jenisId=${jenis.id})}"
      th:object="${jenis}" method="POST">
    <table border="0">
        <tr>
            <td>Jenis</td>
            <td>:</td>
            <td><input type="text" th:field="*{jenis}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>